<div class="container-fluid home-pg">

  <div class="heading">
    <h1>MANGO HOUSE</h1>
    <h4>Services for Resettled Refugees</h4>
    <%= image_tag 'mango.png', class: "mango-icon"%>
    <%= link_to "HOW TO HELP", "#help", class: "btn btn-primary action-btn" %>
  </div>



  <div class="row second-row">
    <div class="col-sm-12 col-md-4 card">
      <h4>ABOUT MANGO HOUSE</h4>
      <%= image_tag 'home.png', class: "mango-icon"%>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
    </div>
    <div class="col-sm-12 col-md-4 card">
      <h4>MEDICAL SERVICES</h4>
      <%= image_tag 'pharmacy.png', class: "mango-icon"%>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
    </div>
    <div class="col-sm-12 col-md-4 card">
      <h4>DENTAL SERVICES</h4>
      <%= image_tag 'tooth.png', class: "mango-icon"%>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
    </div>
  </div>

<div class="row third-row" >
  <%= image_tag 'charity1.png', class: "mango-icon", id:"help"%>
  <h3>SUPPORT MANGO HOUSE</h3>
  <div class="card">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
  </div>
</div>

  <div class="row third-row">
    <h3>Mango House In The News</h3>

    <div class="card">

    </div>
    <div class="card">

    </div>
    <div class="card">

    </div>

  </div>

<!--   <div class="row fourth-row">
    <h3>Contact Us</h3>

  </div>
 -->

  <div class="row first-row">
    <div class="welcome-card">
      <h2>CONTACT US</h2>
      <p>We ask that you email rather than stopping by the office to allow our staff to be the most efficient with their time. We are moving to 10180 E Colfax, Aurora CO 80010 soon. We have big or small spaces for lease or events. </p>
    </div>
  </div>
</div>
